[REPACK]

# Line-transition files:
lblfiles = ../inputs/opacity/01_5000-5500_HITEMP2010.par 
           ../inputs/opacity/01_5500-6000_HITEMP2010.par 
           ../inputs/opacity/01_6000-6500_HITEMP2010.par 
           ../inputs/opacity/01_6500-7000_HITEMP2010.par 
           ../inputs/opacity/01_7000-7500_HITEMP2010.par 
           ../inputs/opacity/01_7500-8000_HITEMP2010.par 
           ../inputs/opacity/01_8000-8500_HITEMP2010.par 
           ../inputs/opacity/01_8500-9000_HITEMP2010.par 
           ../inputs/opacity/01_9000-11000_HITEMP2010.par

# Database type:
dbtype = hitran

# Output file name:
outfile = 1.0-2.0um

# Partition function file:
pffile = ./PF_tips_H2O.dat

# Wavenumber sampling (all in cm-1):
wnmin =  5000.0
wnmax = 10000.0
dwn   =     1.0

# Temperature sampling:
tmin  =  300.0
tmax  = 3000.0
dtemp =  900.0

# Line-intensity threshold for strong/weak lines:
sthresh = 0.01

# Maximum chunk size of lines to handle at a time:
chunksize = 20000000
